body {
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 70%;
  padding: 10px;
  margin: 0 auto;
}

.logo,
nav,
header,
.text-area,
.box,
footer {
  padding: 10px;

  background-color: #c0c0c0;
  color: black;

  border: 1px solid black;
  box-sizing: border-box;

  text-align: center;
}

.logo-nav {
  overflow: auto;
}

.logo {
  text-align: left;
  float: left;
  width: 40%;
}

nav {
  float: right;
  width: 60%;
}

header {
  margin-top: 10px;
  clear: both;
}

main {
  margin: 20px 0;
}

.box-container {
  margin-top: 20px;
  overflow: auto;
}

.box {
  min-height: 200px;
  position: relative;
  float: left;
  margin-right: 20px;
  width: calc((100% - 40px) / 3);
}

.box:last-of-type {
  margin-right: 0px;
}

span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
