body {
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 70%;
  padding: 10px;
  margin: 0 auto;
}

.logo,
nav,
header,
.text-area,
.box,
footer {
  padding: 10px;

  background-color: #c0c0c0;
  color: black;

  border: 1px solid black;
  box-sizing: border-box;

  text-align: center;
}

.logo-nav {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.logo {
  text-align: left;
}

header {
  margin-top: 10px;
}

main {
  margin: 20px 0;
}

.box-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.box {
  min-height: 200px;
  position: relative;
}

span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
