main {
  padding: 10px 0;
  overflow: auto;
}

aside {
  float: left;
  width: calc(30% - 5px);
  min-height: 250px;
}

article {
  float: right;
  width: calc(70% - 5px);
  min-height: 250px;
  position: relative;
}

.image-container {
  width: 100%;
  overflow: auto;
  position: absolute;
  bottom: 10px;
}

.image {
  float: left;
  margin-right: 10px;
  width: calc((100% / 3) - (40px / 3));
}

footer {
  clear: both;
}
