body {
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 70%;
  padding: 10px;
  margin: 0 auto;
}

.logo,
.side-nav,
header,
.body-area,
footer {
  padding: 10px;

  background-color: #c0c0c0;
  color: black;

  border: 1px solid black;
  box-sizing: border-box;

  text-align: center;
}

.logo {
  text-align: left;
}

main {
  width: 100%;
  margin: 10px 0;
  display: flex;
  gap: 20px;
}

.side-nav {
  text-align: left;
  min-height: 300px;
  flex-basis: 30%;
}

.content {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
  gap: 20px;
}

header,
.body-area {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  flex-basis: 30%;
}

.body-area {
  flex-basis: 70%;
}
